.App {
  margin: 0 auto;
  max-width: 880px;
}

.App-link {
  color: #09d3ac;
}

.error {
  color: red;
}

body{
  background: white;
}

form {
  font-family: sans-serif;
  margin: 30px auto;
  width: 600px;
  background: rgba(0,0,0,.1);
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
}

legend {
  margin: 10px auto 30px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

label{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}

input[type=text], input[type=password], input[type=email], select {
  display: inline-block;
  border: none;
  text-align: left;
  padding: 10px;
  width: 350px;
  margin: 10px 0;
  margin-left: 10px;
  color: black;
}

select {
  width: 370px;
}

input[type=text]:focus{
  background: none;
  border: none;
  color: black;
}

input[type=submit]{
  cursor: pointer;
  background: transparent;
  color: black;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  padding: 10px 30px;
  border: 2px solid black;
}

input[type=submit]:hover{
  background: #222;
  color: #fff;
}
