a,
a:hover {
  color: #333;
}

section.main {
  margin-top: 30px;
}

table .fa-pencil {
  margin-right: 10px;
}

table .acoes {
  text-align: center;
}

table .acoes a:hover {
  color: rgba(0,0,0,.5);
}

.remover-confirmar .btn-primary {
  margin-right: 10px;
}