body {
  background-color: #333;
}

a,
a:hover {
  color: #333;
}

section.main {
  min-height: 700px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
}

.navbar.bg-dark {
  background-color: #333 !important;
}

.navbar .navbar-brand {
  margin-right: 30px;
}

.navbar .navbar-brand,
.navbar .nav-link {
  padding: 20px 0;
}

.navbar .nav-item {
  margin-right: 15px;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
  background-color: #333;
}

table .fa-pencil,
table .fa-eye {
  margin-right: 10px;
}

.carregando .conteudo-container {
  padding-top: 80px;
}

.carregando .loader-container {
  display: table;
  margin: 0 auto;
}

.carregando .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.carregando .mensagem {
  padding-top: 10px;
  text-align: center;
  color: #666;
}

table .acoes {
  text-align: center;
}

table .acoes a:hover {
  color: rgba(0,0,0,.5);
}

table .nowrap {
  white-space: nowrap;
}

.mensagem .btn-primary {
  margin-right: 10px;
}

.formulario {
  margin: 0 auto;
}

.form-container {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #dee2e6;
  border-width: 1px;
  border-radius: 8px;
}

form label {
  margin-bottom: .5rem;
}

form .form-group {
  margin-bottom: 15px;;
}

form .field-error {
  border: 2px solid rgba(253, 13, 13, 0.25);
}

form .alert-warning {
  margin-top: 10px;;
  padding: 10px;
}

form .alert-warning.show {
  display: block;
}

form .alert-warning.hide {
  display: none;
}

.footer {
  color: #fff;
  background-color: #333;
}

.footer .container {
  padding: 30px;
  text-align: center;
}

.ver-aluno table th {
  width: 180px;
}

.botao-voltar {
  margin-top: 30px;
}

.listagem table thead th.acoes {
  text-align: center;
}

.centralizar {
  margin: 0 auto;
}